<div id="custom-overlay" [style.display]="splash ? 'flex': 'none'">
  <div class="flb">
    <div class="Aligner-item Aligner-item--top"></div>
    <img src="assets/icon/logo.png">
    <div class="Aligner-item Aligner-item--bottom"></div>
  </div>
</div>

<ion-header>
  <ion-navbar color="primary">
    <ion-title>Munchyroll</ion-title>
    <ion-buttons end style="color:white;">
      <button ion-button (click)="toggleSearch()"><ion-icon name="search"></ion-icon></button>
    </ion-buttons>
  </ion-navbar>
  <ion-toolbar color="primary" *ngIf="showSearchbar">
      <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content padding #content>
  <ion-grid>
    <ion-row *ngIf="items.length">
      <ion-col col-12 *ngFor="let manga of items" (click)="presentManga(manga.mangaId)">
        <ion-card class="text-center">
            <img src="{{ manga.cover }}" class="img-card">
            <ion-card-title>{{ manga.name }}</ion-card-title>
        </ion-card>
      </ion-col>
      <ion-infinite-scroll *ngIf="!showSearchbar" (ionInfinite)="doInfinite($event)">
          <ion-infinite-scroll-content></ion-infinite-scroll-content>
        </ion-infinite-scroll>
    </ion-row>

  </ion-grid>
</ion-content>
